@use "../utils/colors";
/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #353535;
    padding: 1.5rem;
    height: 75px;
    }

footer li, a, h3, i {
    color: white;
}

footer i {
    width: 11px;
    margin-right: 1rem;
}

footer .footer__list {
    display: flex;
    align-items: center;
}

footer h3 {
    margin-left: 10px;color: white;
    font-family: "Shrikhand";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}

footer .footer__list a {
    text-decoration: none;
    
  }
  
 footer li {
    justify-content: space-between;
    padding: 1rem;
    margin: 10px;
    text-decoration: none;
  }
  
// footer .footer__list h2 {
//     color: white;
//     font-family: "Shrikhand";
//     font-style: italic;
//     font-weight: 400;
//     font-size: 18px;
//   }
  
footer .footer__list i {
    width: 11px;
    margin-right: 1rem;
  }